{% extends 'blog/base.html' %}
{% block content %}
<h2>{{ entry.name }}</h2>
    <p><strong>UUID:</strong> {{ entry.uuid }}</p>
    <p><strong>Created At:</strong> {{ entry.created_at }}</p>
    <p><strong>Updated At:</strong> {{ entry.updated_at }}</p>

    <div>
        <h3>Chat Messages:</h3>
        <div class="chat-messages">
            {% for message in entry.chat_messages %}
                <div class="message-block">
                    <div class="message-header">
                        <p><strong>uuid:</strong> {{ message.uuid }}</p>
                        <p><strong>sender:</strong> {{ message.sender }}</p>
                        <p><strong>created_at:</strong> {{ message.created_at }}</p>
                        <p><strong>updated_at:</strong> {{ message.updated_at }}</p>
                    </div>
                    <div class="message-body">
                        <p><strong>text:</strong></p>
                        <pre>{{ message.text|safe }}</pre>
                    </div>
                    <div class="message-attachments">
                        <p><strong>attachments:</strong></p>
                        {% if message.attachments %}
                            {% for file in message.attachments.files %}
                                <p>file_name: {{ file.file_name }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No attachments</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <p><a href="{% url 'claude:list_entries' %}">Back to List</a></p>
{% endblock %}

