<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="body">
    <header class="header">
        <div class="container header-container">
            <h1 class="site-title"><a href="{% url 'home' %}" class="site-title-link">My Blog</a></h1>
            <nav class="nav">               
                {% if user.is_authenticated %}
                <a href="{% url 'post_list' %}" class="nav-link">Posts</a>  
                {% if not 'default' in user.groups.all|stringformat:'s' %}
                <a href="{% url 'claude:home' %}" class="nav-link">Claude</a>
                {% endif %}  
                <a href="{% url 'account:profile' %}" class="nav-link">Profile</a>
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
                {% else %}
                    <a href="{% url 'account:login' %}" class="nav-link">Login</a>
                    <a href="{% url 'account:register' %}" class="nav-link">Sign Up</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container text-center">
            <p class="footer-text"></p>
        </div>
    </footer>
</body>
</html>
