{% for comment in comments %}
    <div class="comment" style="margin-left: {{ depth|default:0 }}em;">
        <p>{{ comment.author.username }}: {{ comment.content }}</p>
        <small>{{ comment.created_at }}</small>
        <button onclick="showReplyForm({{ comment.id }})">답글</button>
        {% if user == comment.author %}
            <a href="{% url 'comment_update' pk=comment.pk %}">수정</a>
            <a href="{% url 'comment_delete' pk=comment.pk %}">삭제</a>
        {% endif %}
        <div id="replyForm{{ comment.id }}" style="display:none;">
            <form method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <button type="submit">답글 작성</button>
            </form>
        </div>

        {% if comment.children %}
            {% with comments=comment.children depth=depth|add:1 %}
                {% include 'blog/comments.html' %}
            {% endwith %}
        {% endif %}
    </div>
{% endfor %}


